<div>
<ul class="signature-nav">
    <li><a class="description-link" href="#">Model</a></li>
    <li><a class="snippet-link" href="#">Model Schema</a></li>
</ul>
<div>

<div class="signature-container">
    <div class="description">
      <table class="fullwidth">
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Read-write access</th>
            <th>Required</th>
            <th>Description</th>
        </tr>
        </thead>
        {{#each properties}}
          <tr>
              <td class="code"><p>{{name}}</p></td>
              <td class="code"><p>{{dataType}}</p></td>
              <td class="code"><p>{{#readonly}}read-only{{/readonly}}{{^readonly}}read/write{{/readonly}}</p></td>
              <td class="code"><p>{{#required}}required{{/required}}{{^required}}optional{{/required}}</p></td>
              <td><p>{{{descr}}}</p></td>
          </tr>
        {{/each}}
      </table>
    </div>

    <div class="snippet">
        <pre><code>{{sampleJSON}}</code></pre>
        <small class="notice"></small>
    </div>
</div>

