<div>
<ul class="signature-nav">
    <li><a class="description-link" href="#">Model</a></li>
    <li><a class="snippet-link" href="#">Model Schema</a></li>
</ul>
<div>

<div class="signature-container">
    <div class="description">
      <table class="fullwidth">
        {{#each properties}}
          <tr>
              <td class="code"><p>{{name}}</p></td>
              <td><p>{{descr}}</p></td>
          </tr>
        {{/each}}
      </table>
    </div>

    <div class="snippet">
        <pre><code>{{sampleJSON}}</code></pre>
        <small class="notice"></small>
    </div>
</div>

